flows.json
[{"id":"b8f4d55c.474108","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9b3f16d9.e12f18","type":"ui_text","z":"b8f4d55c.474108","group":"424e2c66.8e1014","order":2,"width":0,"height":0,"name":"","label":"Predicition","format":"{{msg.payload}}","layout":"row-spread","x":835,"y":329,"wires":[]},{"id":"4cb06f32.a888d","type":"ui_form","z":"b8f4d55c.474108","name":"","label":"","group":"424e2c66.8e1014","order":1,"width":0,"height":0,"options":[{"label":"GREScore","value":"GREScore","type":"number","required":true},{"label":"TOFELScore","value":"TOFELScore","type":"number","required":true},{"label":"UniversityRating","value":"UniversityRating","type":"number","required":true},{"label":"SOP","value":"SOP","type":"number","required":true},{"label":"LOR","value":"LOR","type":"number","required":true},{"label":"CGPA","value":"CGPA","type":"number","required":true},{"label":"Research","value":"Research","type":"number","required":true}],"formValue":{"GREScore":"","TOFELScore":"","UniversityRating":"","SOP":"","LOR":"","CGPA":"","Research":""},"payload":"","submit":"","cancel":"","topic":"","x":55,"y":249,"wires":[["618b7b6c.a74724"]]},{"id":"618b7b6c.a74724","type":"function","z":"b8f4d55c.474108","name":"parameters","func":"global.set(\"GREScore\",msg.payload.GREScore)\nglobal.set(\"TOFELScore\",msg.payload.TOFELScore)\nglobal.set(\"UniversityRating\",msg.payload.UniversityRating)\nglobal.set(\"SOP\",msg.payload.SOP)\nglobal.set(\"LOR\",msg.payload.LOR)\nglobal.set(\"CGPA\",msg.payload.CGPA)\nglobal.set(\"Research\",msg.payload.Research)\nreturn msg;","outputs":1,"noerr":0,"x":155,"y":149,"wires":[["cb2ae44.06a6818"]]},{"id":"cb2ae44.06a6818","type":"http request","z":"b8f4d55c.474108","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":235,"y":329,"wires":[["ac205f82.8758","6c3347f9.a0e478"]]},{"id":"ac205f82.8758","type":"debug","z":"b8f4d55c.474108","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":455,"y":389,"wires":[]},{"id":"b2ed5225.4cf9b","type":"http request","z":"b8f4d55c.474108","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/aba8dfc2-dc08-4645-beab-6e045bf7e870/deployments/9be04437-b2b3-4b39-9e4c-aeba8c7c3513/online","tls":"","proxy":"","authType":"basic","x":395,"y":89,"wires":[["e975c21.a62634","9e22d845.12ee18"]]},{"id":"e975c21.a62634","type":"debug","z":"b8f4d55c.474108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":595,"y":69,"wires":[]},{"id":"9e22d845.12ee18","type":"function","z":"b8f4d55c.474108","name":"","func":"msg.payload=msg.payload.values[0][0][0]\nreturn msg;","outputs":1,"noerr":0,"x":635,"y":269,"wires":[["9b3f16d9.e12f18"]]},{"id":"6c3347f9.a0e478","type":"function","z":"b8f4d55c.474108","name":"prediction","func":"var token = msg.payload.token\nvar GREScore=global.get('GREScore')\nvar TOFELScore=global.get('TOFELScore')\nvar UniversityRating=global.get('UniversityRating')\nvar SOP=global.get('SOP')\nvar LOR=global.get('LOR')\nvar CGPA=global.get('CGPA')\nvar Research=global.get('Research')\nmsg.payload ={\"fields\":[\"GREScore\",\"TOFELScore\",\"UniversityRating\",\"SOP\",\"LOR\",\"CGPA\",\"Research\"],values:[[GREScore,TOFELScore,UniversityRating,SOP,LOR,CGPA,Research]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":325,"y":189,"wires":[["b2ed5225.4cf9b"]]},{"id":"424e2c66.8e1014","type":"ui_group","z":"","name":"Input Parameters","tab":"39491cd3.952984","disp":true,"width":"6","collapse":false},{"id":"39491cd3.952984","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]